/* These css styles overwrides Matt's one to match our own UI  */
fieldset[data-v-ad08d5cd] {
    background-color: #e8eaea;
    padding: 20px;
    border-radius: 5px;
}

fieldset[data-v-ad08d5cd] label {
    font-size: 16px;
    color: darkgreen;
}

fieldset[data-v-ad08d5cd] .form-control {
    background-color: #ffffff;
    border: 1px solid gray;
    padding: 10px;
}

fieldset[data-v-ad08d5cd] .input-group {
    margin-top: 10px;
}

button:disabled {
    background-color: rgb(164, 230, 251);
    color: darkblue;
    border: none;
    padding: 4px;
    width: 60px;
}

/* button{
    color: rgb(42, 235, 252);
    background-color: black;
  } */
button:active {
    color: rgb(42, 235, 252);
    background-color: black;
}

fieldset[data-v-ad08d5cd] input:focus {
    border: 1px solid blue;
}

fieldset[data-v-ad08d5cd] .invalid-feedback {
    color: rgb(255, 0, 13);
}